*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DungGeunMo';
    color: #fff;
}
/* 버튼 hover 각 페이지 전체 적용 */
@-webkit-keyframes blink-2{0%{opacity:1}50%{opacity:.2}100%{opacity:1}}@keyframes blink-2{0%{opacity:1}50%{opacity:.2}100%{opacity:1}}
@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    background-image: url(/todolist/src/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* 공통class */
.center{
    text-align: center;
}

a {
    text-decoration: none;
}

/* header */
header{
    width: 100%;
    height: 370px;
}

h1{
    position: absolute;
    width: 335px;
    height: 262px;
    right: 60px;
    top: 100px;
}

/**
 * ----------------------------------------
 * animation pulsate-bck
 * ----------------------------------------
 */
h1:hover {
	-webkit-animation: pulsate-bck 1.5s ease-in-out infinite both;
        animation: pulsate-bck 1.5s ease-in-out infinite both;
}

@-webkit-keyframes pulsate-bck {
0% {
    -webkit-transform: scale(1);
            transform: scale(1);
}
50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
}
100% {
    -webkit-transform: scale(1);
            transform: scale(1);
}
}
@keyframes pulsate-bck {
0% {
    -webkit-transform: scale(1);
            transform: scale(1);
}
50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
}
100% {
    -webkit-transform: scale(1);
            transform: scale(1);
}
}


h1 a {
    color: #fff;  
    text-decoration: none;
    font-size: 100px;
}

.img_moon{
    position: absolute;
    width: 274px;
    height: 246px;
    right: 4px;
    top: -54px;
}




.list_table {
    width: 900px;
    height: 480px;
    border: 8px solid #9BA4F8;
    border-radius: 30px;
    margin: 0 auto;
    position: relative;
    font-size: 40px;
    padding: 20px;
}

.list_img_1{
    width: 63px;
    height: 63px;
    position: absolute;
    left: 14px;
    top: 18px;
}


.list_head_td {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 12px 20px 0px 55px;
    height: 75px;
}

.list_search_input{
    position: relative;
    font-size: 30px;
    padding: 0px 70px 0px 30px;
    background: none;
    border: none;
    outline: none;
}

.list_search_input::-webkit-calendar-picker-indicator {
    filter: invert(1);
}



.list_search_btn{
    right: 32px;
    top: 34px;
    position: absolute;
    width: 50px;
    height: 50px;
    border: none;
}

.list_search_btn:hover{
    cursor: pointer;
   
}


.list_content_chk_td{
    width: 50px;
}


.lsit_page {
    margin: 0px 20px;
    color: #9BA4F8;
}
.list_now_page {
    color: #fff;
}

.list_content{
    text-decoration: none;
    color: white;
}

.list_content_chk{
    text-decoration: line-through;
    color: #565656;
}

.list_insert_btn{
    display: block;
    width: 190px;
    height: 60px;
    font-size: 40px;
    background-color: rgba(205, 204, 204, 0.2);
    margin: 30px auto;
    line-height: 60px
}
.list_insert_btn:hover {
    -webkit-animation:blink-2 .9s both;animation:blink-2 .9s both
}

/* detail */




.detail_img {
    position: relative;
    top: -111px;
    left: 450px;
    z-index: 1; 
    background-image: url('/src/img/Group\ 7.svg');
}

.detail_table {
    width: 755px;
    height: 538px;
    position: absolute;
    top: 390px;
    left: 640px;
    font-size: 2.0rem;
    text-align: center;
    padding: 50px;
    z-index: 2; 
    background-image: url('/src/img/Group\ 7.svg'); 
}



.detail_head {
    font-size: 50px;
    padding: 0px;
    height: 100px;

}

.detail_btn {
    position: relative;
    left: -120px; 
    width: 200px;
    height: 60px;
    font-size: 40px;
    margin: 35px auto;
    line-height: 60px;
    display: inline-block;
    padding: 0;
    margin: 0 40px;
    border: none;
    width: 160px;
    height: 55px;
    line-height: 55px;
    background-color : rgba(205, 204, 204, 0.2);
    color: #ffffff;
    font-size: 35px;
    cursor: pointer;
}

.detail_btn:hover {
    -webkit-animation:blink-2 .9s both;animation:blink-2 .9s both
}
.detail_content_1 {
    font-size: 35px;
    padding-top: 50px;
    height: 100px;
}
.detail_content_2 {
    font-size: 35px;
    padding-bottom: 30px;
    height: 100px;
}
.typing-text {
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid transparent;
    display: inline-block;
    animation: typing 5s steps(30); /* 30글자까지 표시 */
    max-width: 30ch; /* 최대 30글자 표시 */
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}


.stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/star.png); 
    animation: twinkling 6s infinite;
    z-index: -1;
}

@keyframes twinkling {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}



/* insert */

.insert_form{
    display: block;
    position: relative;
    width: 1120px;
    height: 50px;
    margin: 0 auto;
}

.insert_input {
    position: relative;
    display: block;
    margin: 0 auto;
    border: 1px solid #000;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    width: 1120px;
    height: 55px;
    text-align: center;
    color: #ffffff;
    font-size: 2rem;
    padding-right: 100px;
    z-index: 0;
}
.insert_butt {
    border: none;
    background: none;
    position: absolute;
    top: 13px;
    left:  1025px;
}
.insert_butt:hover {
    cursor: pointer;
}
.insert_pen {
    width: 33px;
    height: 33px;
}
.insert_a {
    position: absolute;
    top: 5px;
    left:  1065px;
}
/* ----------------------------------------------
 *  2023-10-12 10:53:47
 * 기능 : 양이 블랙홀에 빨려들어감 효과
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slide-out-blurred-top{0%{-webkit-transform:translateY(0) scaleY(1) scaleX(1);transform:translateY(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 0;transform-origin:50% 0;-webkit-filter:blur(0);filter:blur(0);opacity:1}100%{-webkit-transform:translateY(-1000px) scaleY(2) scaleX(.2);transform:translateY(-1000px) scaleY(2) scaleX(.2);-webkit-transform-origin:50% 0;transform-origin:50% 0;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}}@keyframes slide-out-blurred-top{0%{-webkit-transform:translateY(0) scaleY(1) scaleX(1);transform:translateY(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 0;transform-origin:50% 0;-webkit-filter:blur(0);filter:blur(0);opacity:1}100%{-webkit-transform:translateY(-1000px) scaleY(2) scaleX(.2);transform:translateY(-1000px) scaleY(2) scaleX(.2);-webkit-transform-origin:50% 0;transform-origin:50% 0;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}}

/* ----------------------------------------------
 *  2023-10-12 11:49:47
 * 기능 : UFO 날아가는 효과
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes slide-out-elliptic-right-bck {
0% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
            transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: -1800px 50%;
            transform-origin: -1800px 50%;
    opacity: 1;
}
100% {
    -webkit-transform: translateX(1000px) rotateY(-30deg) scale(0);
            transform: translateX(1000px) rotateY(-30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
            transform-origin: -100% 50%;
    opacity: 1;
}
}
@keyframes slide-out-elliptic-right-bck {
0% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
            transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: -1800px 50%;
            transform-origin: -1800px 50%;
    opacity: 1;
}
100% {
    -webkit-transform: translateX(1000px) rotateY(-30deg) scale(0);
            transform: translateX(1000px) rotateY(-30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
            transform-origin: -100% 50%;
    opacity: 1;
}
}



.insert_sheep {
position: absolute;
top: 420px;
left: -200px;
width: 300px;

}
.insert_sheep:hover {
    position: absolute;
    top: 420px;
    left: -200px;
    width: 300px;
    display: block;
    -webkit-animation:slide-out-blurred-top 3s cubic-bezier(.755,.05,.855,.06) infinite both;animation:slide-out-blurred-top 3s cubic-bezier(.755,.05,.855,.06) both
}
.insert_sheep:hover + .insert_ufo{
    display: block;
}

.insert_cat1 {
    position: absolute;
    top: 30px;
    left: 310px;
    width: 550px;
}
.insert_cat2 {
    position: absolute;
    top: 30px;
    left: 310px;
    width: 550px;
}

.insert_div {
    position: relative;   
}

/* 기능 : 고양이 hover 했을 때 바뀌는 것*/

.face {       
    transition: all 0.5s;
}
.cat_back {
    position: absolute; 
    z-index: 1;
    opacity: 0; 
}
.cat_front {
    position: relative; 
    z-index: 2; 
    opacity: 1;     
}
.insert_div:hover > .cat_back {
    z-index: 2; 
    opacity: 1;   
}
.insert_div:hover > .cat_front {
    z-index: 1; 
    opacity: 0;   
}
	

input::placeholder {
    color: rgb(255, 255, 255, 0.4);
}

.insert_ufo {
    position: absolute;
    top: -300px;
    left: -150px;
    width: 520px;
    height: 250px;
    width: 200px;
    display: none;
	-webkit-animation: slide-out-elliptic-right-bck 1.2s cubic-bezier(0.950, 0.050, 0.795, 0.035) both;
    animation: slide-out-elliptic-right-bck 1.2s cubic-bezier(0.950, 0.050, 0.795, 0.035) both;
    animation-delay: 3s;
}

/* update */
.update_form {
    margin: 0 auto;
    position: relative;
    width: 860px;
    height: 400px;
}
/* .update_table {
    background-image: url(./img/update_table.svg);
    width: 860px;
    height: 400px;
    ˚✧₊⁎( ˘ω˘ )⁎⁺˳✧༚
} */
/* .update_img {
    margin: auto;
    display: block; 
} */
.update_text {
    padding: 10px;
    background: none;
    position: absolute;
    bottom: 165px;
    left: 80px;
    color: #000;
    border: none;
    /* border-radius: 8px; */
    font-size: 35px;
    width: 700px;
    text-align: center;
    resize: none;
}
.update_div {
    margin: 20px;
    text-align: center;
}
.update_a {
    display: inline-block;
    padding: 0;
    margin: 0 40px;
    border: none;
    width: 160px;
    height: 55px;
    line-height: 55px;
    background-color : rgba(205, 204, 204, 0.2);
    color: #ffffff;
    font-size: 35px;
    cursor: pointer;
}
.update_a:hover {
    -webkit-animation:blink-2 .9s both;animation:blink-2 .9s both
}
/* delete */

.delete_table{
    font-size: 1.6rem;
    background-image: url("/TODOLIST/src/img/delete_box.png");
    width: 1000px;
    height: 465px;
    margin: 0 auto;
}

.delete_p {
    font-size: 3rem;
    color: red;
    height: 50px;
    padding-top: 65px;
}
.delete_msg_1 {
    padding-top: 25px;
    font-size: 1.7rem;
    color: #000;
    height: 40px;
}
.delete_msg_2 {
    font-size: 1.7rem;
    color: #000;
    height: 40px;
}
/* @keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
} */

.delete_td{
    font-size: 1.7rem;
    color: #000;
    height: 150px;
    padding-bottom: 50px; 
}

.delete_td span{
    display: inline-block;
    border: 5px solid #d9d9d9;
    color: #000000;
    padding: 20px;
    animation:flash 2s infinite; 
    
}

@keyframes flash{
    0%{opacity:1;}
    50%{opacity:.5;}
    100%{opacity:1;}
    }

.delete_a {
    display: inline-block;
    font-size: 1.6rem;
    background-color: rgba(240, 240, 240,0.3);
    /* color: #000; */
    width: 150px;
    height: 50px;
    padding : 8px;
}

.delete_a:hover {
    -webkit-animation:blink-2 .9s both;animation:blink-2 .9s both
}
.delete_section {
    text-align: center;
    top: 500px;
    right: 900px;
}
.delete_btn {
    position: relative;
    text-align: left;
    padding-left: 21px;
    border: none;
    background-color: rgba(240, 240, 240,0.3);
    font-size: 1.6rem;
    width: 150px;
    height: 50px;
}

.delete_btn:hover {
    cursor: pointer;
    -webkit-animation:blink-2 .9s both;animation:blink-2 .9s both
}
.delete_span {
    position: absolute;
    right: 21px;
    top: 4px;
    color: #fff;
    font-size: 1.6rem;
    padding: 10px;

}

.delete_span2 {
    position: relative;
    bottom: 14px;
    right: 24px;
    color: #fff;
    font-size: 1.6rem;
    margin-left: 20px;
}

.delete_btn_img2 {
position: relative;
top: -4px;
right: -8px;
}

.delete_content {
position: relative;
border: 2px solid #d9d9d9;
display: inline-block;
width: 530px;
height: 50px;
text-align: center;
padding: 10px;
color: #000;
bottom: 120px;
left: 710px;
font-size: 1.6rem;

}
/* search */

.search_page_btn{
    margin: 0 auto;
}

.search_out_btn:hover{
    text-decoration: underline;
    text-underline-position: under;
}

.search_content{
    text-decoration: none;
    color: white;
    display: inline-block;
}

.search_content_chk{
    text-decoration: line-through;
    color: #565656;
    display: inline-block;
}

.search_table {
    width: 900px;
    height: 470px;
    border: 8px solid #9BA4F8;
    border-radius: 30px;
    margin: 0 auto;
    position: relative;
    font-size: 40px;
    padding: 20px;
}


.search_head_td {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 12px 20px 0px 55px;
    height: 75px;
}




/* 햄버거버튼 list페이지 */

input[id="icon"] {
    display:none;
} 


input[id="icon"] + label{
    position: relative;
    display:block;
    width:40px;
    height:30px;
    cursor:pointer;
    margin-left: 20px;
    margin-top: 20px;
} 

input[id="icon"] + label > span {
    position: absolute;
    display:block;
    width:100%;
    height:5px;
    border-radius:30px;
    background:#ffffff;
    transition: all 0.35s;  
    z-index:2;

}

input[id="icon"] + label > span:nth-child(1) {
    top:0px;
}

input[id="icon"] + label > span:nth-child(2) {
    top:50%;
    transform: translateY(-50%);  
}

input[id="icon"] + label > span:nth-child(3) {
    bottom:0px;
}


input[id="icon"]:checked + label > span:nth-child(1) {
    top:50%;
    transform:translateY(-50%) rotate(45deg);
}

input[id="icon"]:checked + label > span:nth-child(2) {
    opacity: 0;
}

input[id="icon"]:checked + label > span:nth-child(3) {
    bottom:50%;
    transform:translateY(50%) rotate(-45deg);
}

#icon + label + #header {
    box-shadow: 10px 0px 70px 20px #000000b5;
    position:fixed; 
    width:300px;
    height:100%;
    background-color: #311a9344;
    top:0px;
    padding:400px 25px 25px 25px;
    box-sizing:border-box;
    left:-300px;
    z-index:1;
    transition: all 0.35s;
}

#icon:checked + label + #header {
    left:0px;
}

#icon:checked + label + #header > ul > li > a {
    color: white;

}

.side_li{
    padding: 20px;
    font-size: 40px;
    list-style: none;
}
.side_li_2{
    padding: 20px;
    font-size: 40px;
    list-style: none;
    margin-bottom: 100px;
}

.list_side_input{
    position: relative;
    font-size: 30px;
    padding-left: 17px;
    background: none;
    border: none;
    outline: none;
}

.list_side_input::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.list_side_input::-webkit-calendar-picker-indicator:hover{
    cursor: pointer;
}

.side_div{
    font-size: 40px;
    padding: 11px 55px 0px 0px;
}
.list_side_btn {
    margin: 13px 0px 0px 88px;
    border: none;
    background-color: rgba(240, 240, 240,0.3);
    font-size: 1rem;
    width: 60px;
    height: 30px;
}

.list_side_btn:hover {
    cursor: pointer;
    -webkit-animation:blink-2 .9s both;animation:blink-2 .9s both
}

/* stats */

.stats_table{
    width: 900px;
    height: 470px;
    border: 8px solid #9BA4F8;
    border-radius: 30px;
    margin: 0 auto;
    position: relative;
    font-size: 40px;
    padding: 20px;
}

.stats_table thead tr{
    display: flex;
    justify-content: space-between;
}
.stats_table thead tr a{
    line-height: 120px;
}
.stats_table thead tr a:hover{
    text-decoration: underline;
    text-underline-position: under;
}

.stats_table thead tr span{
    font-size: 60px;
}

.stats_td_t{
    height: 50px;
}

.stats_td_f{
    
}



progress {
    -webkit-appearance: none;
    border-radius: 10px;
}

::-webkit-progress-bar {
background-color: grey;
}

.stats_progress_1::-webkit-progress-value {
background-color: greenyellow;
}
.stats_progress_2::-webkit-progress-value {
background-color: blue;
}
.stats_progress_3::-webkit-progress-value {
background-color: yellow;
}
.stats_progress_4::-webkit-progress-value {
background-color: orange;
}
.stats_progress_5::-webkit-progress-value {
background-color: red;
}


/* pickstate */
.pickstate_date{
    height: 50px;
    padding-left:  0px;
}

.pickstate_img{
    width: 26px;
    height: 22px;
    margin-right: 8px;
}