*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DungGeunMo';
    color: #fff;
}
@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    background-image: url(/todolist/src/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* 공통class */
.center{
    text-align: center;
}

a {
    text-decoration: none;
}

/* header */
header{
    width: 100%;
    height: 370px;
}

h1{
    position: absolute;
    width: 335px;
    height: 262px;
    right: 60px;
    top: 100px;
}

h1 a {
    color: #fff;  
    text-decoration: none;
    font-size: 100px;
}

.img_moon{
    position: absolute;
    width: 335px;
    height: 262px;
    right: -80px;
    top: -60px;
}



/* list */
.list_table {
    width: 900px;
    height: 470px;
    border: 8px solid #9BA4F8;
    border-radius: 30px;
    margin: 0 auto;
    position: relative;
    font-size: 40px;
    padding: 20px;
}

.list_img_1{
    width: 63px;
    height: 63px;
    position: absolute;
    left: 14px;
    top: 18px;
}


.list_head_td {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 12px 20px 0px 55px;
}

.list_search_input{
    position: relative;
    font-size: 30px;
    padding: 0px 70px 0px 30px;
    background: none;
    border: none;
    outline: none;
}

.list_search_input::-webkit-calendar-picker-indicator {
    filter: invert(1);
}



.list_search_btn{
    right: 32px;
    top: 34px;
    position: absolute;
    width: 50px;
    height: 50px;
    border: none;
}

.list_search_btn:hover{
    cursor: pointer;
}

.lsit_page {
    margin: 0px 20px;
    color: #9BA4F8;
}
.list_now_page {
    color: #fff;
}

.list_content{
    text-decoration: none;
    color: white;
}

.list_content_chk{
    text-decoration: line-through;
    color: #565656;
}

.list_insert_btn{
    display: block;
    width: 190px;
    height: 60px;
    font-size: 40px;
    background-color: rgba(205, 204, 204, 0.2);
    margin: 30px auto;
    line-height: 60px
}


/* detail */
.detail_img {
    position: relative;
    top: -111px;
    left: 450px;
}

.detail_table {
    width: 755px;
    height: 538px;
    position: absolute;
    top: 390px;
    left: 563px;
    font-size: 2.0rem;
    text-align: center;
    padding: 50px;

}
.detail-button-container {
    text-align: center;
    line-height: 50px;
    position: absolute;
    bottom: 190px;
    left: 860px;
    font-size: 2.0rem;
}

.detail_head {
    font-size: 50px;
    padding: 0px;
    height: 100px;

}
.detail_content_1 {
    font-size: 35px;
    padding-top: 50px;
    height: 100px;
}
.detail_content_2 {
    font-size: 35px;
    padding-bottom: 30px;
    height: 100px;
}
.detail_btn {
    display: block;
    width: 190px;
    height: 60px;
    font-size: 40px;
    background-color: rgba(205, 204, 204, 0.2);
    margin: 30px auto;
    line-height: 60px
}

/* insert */
.insert_div1 {
    text-align: center;
    margin: 40px auto;
    position: relative;
}
.insert_div2 {
    width: 1400px;
}
.insert_input {
    margin: 0 auto;
    border: 1px solid #000;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    width: 1100px;
    height: 50px;
    text-align: center;
    color: #ffffff;
    font-size: 2rem;
}
.insert_butt {
    border: none;
    background: none;
    position: absolute;
    top: 12px;
    right: 500px;
}
.insert_pen {
    width: 30px;
    height: 30px;
}
.insert_a {
    position: absolute;
    top: 4px;
    right: 450px;
}
.insert_sheep {
    position: absolute;
    bottom: 30px;
    left: 250px;
    width: 300px;
}
.insert_cat {
    position: absolute;
    bottom: 40px;
    left: 700px;
    width: 520px;
}

/* update */
.update_form {
    margin: 0 auto;
    position: relative;
    width: 860px;
    height: 400px;
}
/* .update_table {
    background-image: url(./img/update_table.svg);
    width: 860px;
    height: 400px;
    ˚✧₊⁎( ˘ω˘ )⁎⁺˳✧༚
} */
/* .update_img {
    margin: auto;
    display: block; 
} */
.update_input {
    padding: 10px;
    background: none;
    position: absolute;
    bottom: 190px;
    left: 80px;
    color: #000;
    border: none;
    /* border-radius: 8px; */
    font-size: 1.6rem;
    width: 700px;
    text-align: center;
}
.update_div {
    margin: 20px;
    text-align: center;
}
.update_a {
    display: inline-block;
    padding: 0;
    margin: 0 30px;
    border: none;
    width: 110px;
    height: 35px;
    line-height: 35px;
    background-color : rgba(255, 255, 255, 0.4);
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
}
/* delete */

.delete_table{
    font-size: 1.6rem;   
 }
 .delete_p {
     font-size: 1.6rem;
 }
 .delete_img{
     position: relative;
     left: 484px;    
 }
 .delete_caption {
     text-align: center;
     position: absolute;
     top: 497px;
     left: 723px;
 }

 .delete_td {
    position: absolute;
    color: #000;
    width: 500px;
    height: 50px;
    padding: 10px;
    border: 1px solid #d9d9d9;
    top: 720px;
    left: 743px;
 }
 .delete_a {
     display: inline-block;
     font-size: 1.6rem;
     background-color: rgba(205, 204, 204, 0.2);
     color: #000;
     width: 150px;
     height: 50px;
     text-align: center;
     line-height: 50px;
    
 }
 .delete_section {
     text-align: center;
     top: 500px;
     right: 900px;
 }
 .delete_btn {
     border: none;
     background-color: rgba(205, 204, 204, 0.2);
     font-size: 1.8rem;
     top:100px;
     width: 150px;
     height: 50px;
 }
 .delete_span {
    color: #fff;
    font-size: 1.8rem;
    margin-left: 20px;
 }
 .delete_span:hover {
    color: #000;
 }
 
 .delete_sapn2 {
    color: #fff;
    font-size: 1.8rem;
    margin-left: 20px;
 }
 .delete_span2:hover{
    color: #000;
 }

.delete_btn_img {
position: relative;
top: 14px;
left: 68px;
}
.delete_btn_img2 {
position: relative;
top: 10px;
left: 64px;
}
.delete_content {
position: relative;
border: 2px solid #d9d9d9;
display: inline-block;
width: 530px;
height: 50px;
text-align: center;
padding: 10px;
color: #000;
bottom: 120px;
left: 710px;
font-size: 1.6rem;

}
/* search */

.search_page_btn{
    margin: 0 auto;
}

.search_out_btn:hover{
    text-decoration: underline;
    text-underline-position: under;
}

.search_content{
    padding-left: 57px;
    text-decoration: none;
    color: white;
}

.search_content_chk{
    padding-left: 57px;
    text-decoration: line-through;
    color: #565656;
}

.search_table {
    width: 900px;
    height: 470px;
    border: 8px solid #9BA4F8;
    border-radius: 30px;
    margin: 0 auto;
    position: relative;
    font-size: 40px;
    padding: 20px;
}


.search_head_td {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 12px 20px 0px 55px;
}