*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DungGeunMo';
    color: #fff;
}
@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* 공통class */
.center{
    text-align: center;
}

a {
    text-decoration: none;
}

/* header */
header{
    width: 100%;
    height: 370px;
}

h1{
    position: absolute;
    width: 335px;
    height: 262px;
    right: 60px;
    top: 100px;
}

h1 a {
    color: #fff;  
    text-decoration: none;
    font-size: 100px;
}

.img_moon{
    position: absolute;
    width: 335px;
    height: 262px;
    right: -80px;
    top: -60px;
}



/* list */
.list_table {
    width: 900px;
    height: 470px;
    border: 8px solid #9BA4F8;
    border-radius: 30px;
    margin: 0 auto;
    position: relative;
    font-size: 40px;
    padding: 20px;
}

.list_img_1{
    width: 63px;
    height: 63px;
    position: absolute;
    left: 14px;
    top: 18px;
}


.list_head_td {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 12px 20px 0px 55px;
}

.list_search_input{
    position: relative;
    font-size: 30px;
    padding: 0px 70px 0px 30px;
    background: none;
    border: none;
    outline: none;
}

.list_search_input::-webkit-calendar-picker-indicator {
    filter: invert(1);
}



.list_search_btn{
    right: 0;
    top: 0;
    position: absolute;
    width: 50px;
    height: 50px;
}



/* detail */
/* insert */
/* update */
.update_form {
    margin: 0 auto;
    position: relative;
    width: 860px;
    height: 400px;
}
/* .update_table {
    background-image: url(./img/update_table.svg);
    width: 860px;
    height: 400px;
    ˚✧₊⁎( ˘ω˘ )⁎⁺˳✧༚
} */
/* .update_img {
    margin: auto;
    display: block; 
} */
.update_input {
    padding: 10px;
    background: none;
    position: absolute;
    bottom: 190px;
    left: 80px;
    color: #000;
    border: none;
    /* border-radius: 8px; */
    font-size: 1.6rem;
    width: 700px;
    text-align: center;
}
.update_div {
    margin: 20px;
    text-align: center;
}
.update_a {
    display: inline-block;
    padding: 0;
    margin: 0 30px;
    border: none;
    width: 110px;
    height: 35px;
    line-height: 35px;
    background-color : rgba(255, 255, 255, 0.4);
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
}
/* delete */

/* search */
/* 보류 사유 : 페이징 기능이없는대 서치한값이 12개 이상일경우 표현방법 강구 */
/* 1008 최정훈 */